/* Cuerpo de la pagina */
body{
    background-color: #fbfbfe;
}
/* Hacer desaparecer la barra de scroll */
::-webkit-scrollbar{
    display: none;
}
/* menu de navegacion */

.web{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
   
}
.mobile{
    visibility: hidden;
}
ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: .5rem;
    
}
li{
    flex-grow: 1;
    text-align: center;
    padding: 0.5em;
    
}
li a{  
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
    text-transform: uppercase;
    font-size: medium;
    padding-inline: 1em;
    padding-bottom: .5rem;
    border-bottom: 4px solid white;
    border-color: transparent;
    font-weight: bold; 
}
li a:hover{
    transition: all .3s;
    font-weight: bold;
    color: white;
    border-color: white;
}

.perfil{
    opacity: 0;
    transition: 1s;
}
#perfil{
    height: 60rem;
    padding: 5rem;
    background-color: #fbfbfe;
}
.perfil{
    padding: 5rem;
}
.perfil img{
    float: left;
    width: 20rem;
    height: 20rem;
    margin: 5rem;
    border-radius: 1rem;
    box-shadow:  5px 5px 15px #201e1e,
             -20px -20px 60px #ffffff;
}

/* Estilos de los titulos */

#titulo1{
    opacity: 0;
    font-family: 'Roboto', sans-serif;
}
#barra{
    opacity: 0;
}
#titulo2{
    opacity: 0;
    font-family: 'Roboto', sans-serif;
}
#barr2{
    opacity: 0;
}

/* Estilos de las cards */

.flexcards{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.cardd{
   position: relative;
   cursor:pointer;
   box-shadow: 3px 3px 10px black;
   border-radius: 1rem; 
}
.cardd figure{
    padding: 0;
    margin: 0;
    width: 35rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 1rem;
}
.cardd figure img{
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    background-color: white;
}

.background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 0%;
    height: 100%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.650);
    border-radius: 1rem;
    top: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

/* Overlay */

.textoOverlay{
    padding: 1rem;
}
.linkOverlay{
    text-decoration: none;
    color:white;
    border: white;
    border-radius: .3rem;
    border-style:solid;
    padding-inline: 3rem;
    padding-block: 1.2rem;
    text-transform: uppercase;
    font-size: large;
}
.linkOverlay:hover{
    color: white;
}
/* mostrar el opacity del scroll */

.animado{ 
    background-color: #a0a7ac;
    opacity: 0;
    transition: all .5s;
    padding: 5rem;
}

/* Animaciones  */

.animacion{
    animation: mostrar 2s;
}

@keyframes mostrar {
    0%{
        transform: translateY(5rem);
    }
    100%{
        transform: translateY(0);
    }
}



.animacion2{
    animation: mostrar2 2s;
}

@keyframes mostrar2 {
    0%{
        transform: translateX(-5rem);
    }
    100%{
        transform: translateX(0);
    }
}

/*Animacion de izq a derecha mas segundos*/

.animacion3{
    animation: mostrar3 2s;
}

@keyframes mostrar3 {
    0%{
        transform: translateX(-20rem);
    }
    100%{
        transform: translateX(0);
    }
}
/* Media query para mobile */

@media only screen and (max-width: 720px) {
    .web {
    display: none;
    }
    .mobile{
        color: black;
        visibility: visible;
        width: 37%;
    }
    .mobile ul{
        opacity: 1;
        background-color: rgb(22, 22, 24);
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 0;
        box-shadow: 3px 3px 10px rgb(0, 0, 0);
    }
    .btn-collapse{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: blue;
        position: relative;
    }
    .btn-collapse li a{
        color: black;
        border-bottom: none;
    }
    .perfil{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: none;
        opacity: 1;
        padding: 1rem;    
        background-color: green;
    }
    #perfil{
        padding: 1rem;
        background-color: aqua;
        text-align: center;
    }
    #titulo1{
        opacity: 1;
        margin: 0%;
        padding: 0%;
    }
    #barra{
        display: none;
    }
    .perfil img{
        margin: 1rem;
        border-radius: 1rem;
        box-shadow:  5px 5px 15px #201e1e 
    }
  }